<div class="modal fade" id="business1" tabindex="-1" role="dialog" aria-labelledby="business1Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body p-5">
	    <div class="text-center mb-3">
	  <%= image_tag "portfolio/reading.png", class: "img-responsive" %>
	    </div>
	  <h1 class = 'text-center text-secondary mb-5'>Self-taught</h1>
	  <h3 class = "text-center">
	      Almost every skill I'm about to talk about, I taught it to myself.
	      When I want to learn something, I study it as much as I can using books and 
	      Youtube videos. 
	  </h3>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="business2" tabindex="-1" role="dialog" aria-labelledby="business2Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body p-5">
	    <div class="text-center mb-3">
	  <%= image_tag "portfolio/coding.png", class: "img-responsive" %>
	    </div>
	  <h1 class = 'text-center text-secondary mb-5'>Programming</h1>
	  <h3 class = "text-center">
	      I'm a freelance software developer.
	      I mainly develop web and mobile applications for different startups.
	  </h3>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="business3" tabindex="-1" role="dialog" aria-labelledby="business3Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body p-5">
	    <div class="text-center mb-3">
	  <%= image_tag "portfolio/marketing-strategy.png", class: "img-responsive" %>
	    </div>
	  <h1 class = 'text-center text-secondary mb-5'>Startup Founder</h1>
	  <h3 class = "text-center">
	      I'm currently working on a startup right now (it's a secret).
	      But I've always been interested in making a business that helps 
	      make the world a better place!
	  </h3>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="business4" tabindex="-1" role="dialog" aria-labelledby="business4Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body p-5">
	    <div class="text-center mb-3">
	  <%= image_tag "portfolio/piano.png", class: "img-responsive" %>
	    </div>
	  <h1 class = 'text-center text-secondary mb-5'>Piano</h1>
	  <h3 class = "text-center">
	      When I have free time, I like to play the piano!
	      I prefer playing classical music or sometimes 
	      I even try jazz!
	  </h3>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="business5" tabindex="-1" role="dialog" aria-labelledby="business5Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body p-5">
	    <div class="text-center mb-3">
	  <%= image_tag "portfolio/ink.png", class: "img-responsive" %>
	    </div>
	  <h1 class = 'text-center text-secondary mb-5'>Writing</h1>
	  <h3 class = "text-center">
	    I also like writing articles!
	    I currently have two articles on Medium but I 
	    look forward to writing even more!
	  </h3>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="business6" tabindex="-1" role="dialog" aria-labelledby="business6Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body p-5">
	    <div class="text-center mb-3">
	  <%= image_tag "portfolio/win.png", class: "img-responsive" %>
	    </div>
	  <h1 class = 'text-center text-secondary mb-5'>Goal</h1>
	  <h3 class = "text-center">
	      I'm going to be the next Mark Zuckerberg
	  </h3>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
