<div class="modal fade" id="party1" tabindex="-1" role="dialog" aria-labelledby="party1Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body p-5">
	    <div class="text-center mb-3">
	  <%= image_tag "portfolio/hand.png", class: "img-responsive" %>
	    </div>
	  <h1 class = 'text-center text-secondary mb-5'>Party Animal</h1>
	  <h3 class = "text-center">
	      I'm always super crazy and loud during parties.
	      I'll drink whatever you give me, and I'll 
	      yell whenever I want.
	  </h3>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="party2" tabindex="-1" role="dialog" aria-labelledby="party2Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body p-5">
	    <div class="text-center mb-3">
	  <%= image_tag "portfolio/beer.png", class: "img-responsive" %>
	    </div>
	  <h1 class = 'text-center text-secondary mb-5'>Beer Chugger</h1>
	  <h3 class = "text-center">
	      I love chugging beer.
	      Especially when I'm competing with other people
	  </h3>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="party3" tabindex="-1" role="dialog" aria-labelledby="party3Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body p-5">
	    <div class="text-center mb-3">
	  <%= image_tag "portfolio/alcohol.png", class: "img-responsive" %>
	    </div>
	  <h1 class = 'text-center text-secondary mb-5'>Favorite Drinks</h1>
	  <h3 class = "text-center">
	      Favorite Beer: Asahi or San Mig Super Dry
	      <br>
	      Favorite Liqour: Gin (Especially Gilbey's)
	      <br>
	      Favorite Cocktail: Long Island Iced Tea or Blue Hawaii
	  </h3>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="party4" tabindex="-1" role="dialog" aria-labelledby="party4Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body p-5">
	    <div class="text-center mb-3">
	  <%= image_tag "portfolio/speakers.png", class: "img-responsive" %>
	    </div>
	  <h1 class = 'text-center text-secondary mb-5'>Music</h1>
	  <h3 class = "text-center">
	      I love music!
	      I'm almost always listening to music.
	      But I love EDM especially when I'm drunk.
	  </h3>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="party5" tabindex="-1" role="dialog" aria-labelledby="party5Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body p-5">
	    <div class="text-center mb-3">
	  <%= image_tag "portfolio/games.png", class: "img-responsive" %>
	    </div>
	  <h1 class = 'text-center text-secondary mb-5'>Games</h1>
	  <h3 class = "text-center">
	      Drinking Games are the absolute best.
	      I know a ton of drinking games, 
	      so if you want to have a good time invite me.
	  </h3>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="party6" tabindex="-1" role="dialog" aria-labelledby="party6Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body p-5">
	    <div class="text-center mb-3">
	  <%= image_tag "portfolio/win.png", class: "img-responsive" %>
	    </div>
	  <h1 class = 'text-center text-secondary mb-5'>Drunk Dreams</h1>
	  <h3 class = "text-center">
	      Even when I'm drunk, I don't stop 
	      talking about my dreams.
	      Often times you'll hear me shout out 
	      "I'm gonna be the next Mark Zuckerberg"
	  </h3>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
